GMAIL_USER=recrutamento.fradema@gmail.com
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
RECRUTAMENTO_EMAILS=recrutamento@fradema.com.br,frademarh12@fradema.com.br
CORS_ORIGIN=https://marketingfda.github.io
PORT=3000
